/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../.scss/style.scss */
body {
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  color: #333332;
  font-size: 18px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

/* line 14, ../.scss/style.scss */
.layout-single-column {
  width: 640px;
  margin: 0 auto;
}

/* line 18, ../.scss/style.scss */
.post-article {
  height: 100%;
}
/* line 20, ../.scss/style.scss */
.post-article .layout-single-column {
  width: 700px;
}
/* line 23, ../.scss/style.scss */
.post-article .background-size-full {
  max-width: 100%;
  width: 100%;
  margin-top: 0;
  position: relative;
}
/* line 29, ../.scss/style.scss */
.post-article h2 {
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
  padding-top: 31px;
  margin-bottom: 2px;
}
/* line 39, ../.scss/style.scss */
.post-article p {
  display: block;
  margin-bottom: 30px;
}

/* line 45, ../.scss/style.scss */
.post-content {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
}

/* line 54, ../.scss/style.scss */
.background-size-full {
  display: table;
  height: 100%;
  max-height: 900px;
  background-color: #191918;
  background-position: center;
  width: 100%;
  position: relative;
}

/* line 64, ../.scss/style.scss */
#login-buttons {
  position: fixed;
  z-index: 999;
}

/* line 69, ../.scss/style.scss */
.cover {
  height: 400px;
  margin-bottom: 60px;
}
/* line 72, ../.scss/style.scss */
.cover h1 {
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 1.2;
  position: absolute;
  bottom: 100px;
  color: white;
  text-align: center;
  width: 100%;
}

/* line 88, ../.scss/style.scss */
.article-list li {
  margin-bottom: 30px;
}
