/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../assets/scss/style.scss */
body {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  color: #444443;
  font-size: 18px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 17, ../../assets/scss/style.scss */
.layout-single-column {
  max-width: 960px;
  margin: 0 auto;
}

/* line 21, ../../assets/scss/style.scss */
.post-article {
  height: 100%;
}
/* line 23, ../../assets/scss/style.scss */
.post-article .background-size-full {
  max-width: 100%;
  width: 100%;
  margin-top: 0;
  position: relative;
}

/* line 31, ../../assets/scss/style.scss */
.post-content {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
}
/* line 38, ../../assets/scss/style.scss */
.post-content h2 {
  padding-top: 64px;
}
/* line 41, ../../assets/scss/style.scss */
.post-content p > code {
  font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eeeeed;
  font-size: 0.8em;
  padding: 2px;
}
/* line 47, ../../assets/scss/style.scss */
.post-content ul {
  list-style-type: circle;
  padding-left: 2em;
  margin-bottom: 1em;
}
/* line 50, ../../assets/scss/style.scss */
.post-content ul > li {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}
/* line 56, ../../assets/scss/style.scss */
.post-content em {
  font-style: italic;
}
/* line 59, ../../assets/scss/style.scss */
.post-content a {
  color: black;
  text-decoration: underline;
}

/* line 65, ../../assets/scss/style.scss */
.background-size-full {
  height: 100%;
  max-height: 900px;
  background-color: #191918;
  background-position: center;
  width: 100%;
  position: relative;
}

/* line 74, ../../assets/scss/style.scss */
#login-buttons {
  position: fixed;
  z-index: 999;
}

/* line 79, ../../assets/scss/style.scss */
.cover {
  height: 400px;
  margin-bottom: 60px;
  color: white;
}
/* line 83, ../../assets/scss/style.scss */
.cover header {
  margin-top: 160px;
}
/* line 85, ../../assets/scss/style.scss */
.cover header .post-item-meta {
  margin-bottom: 20px;
}
/* line 89, ../../assets/scss/style.scss */
.cover .post-title {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.04em;
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 8px;
}
/* line 98, ../../assets/scss/style.scss */
.cover .post-field.subtitle {
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  line-height: 1.1;
  color: #888887;
  margin: 0;
}

/* line 110, ../../assets/scss/style.scss */
.article-list li {
  margin-bottom: 60px;
}

/* line 114, ../../assets/scss/style.scss */
.post-item-meta {
  font-size: 14px;
  color: #b3b3b1;
}

/* line 118, ../../assets/scss/style.scss */
.post-item-meta-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 8px;
  margin-bottom: -10px;
}

/* line 127, ../../assets/scss/style.scss */
.avatar-icon {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

/* line 135, ../../assets/scss/style.scss */
.story-cover-content .post-item-meta {
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
}

/* line 141, ../../assets/scss/style.scss */
a {
  color: #888887;
  text-decoration: none;
}

/* line 146, ../../assets/scss/style.scss */
.cover-header .post-item-meta {
  margin-top: 12px;
}

/* line 151, ../../assets/scss/style.scss */
.logo {
  display: block;
  position: absolute;
}
/* line 154, ../../assets/scss/style.scss */
.logo svg {
  display: block;
  width: 100%;
}

/* line 159, ../../assets/scss/style.scss */
.cover {
  overflow: hidden;
}
/* line 161, ../../assets/scss/style.scss */
.cover .logo {
  position: absolute;
  top: 0px;
  width: 50%;
  height: 160%;
}
/* line 166, ../../assets/scss/style.scss */
.cover .logo svg {
  fill: #111;
}
/* line 170, ../../assets/scss/style.scss */
.cover .cover-content {
  position: relative;
}
/* line 173, ../../assets/scss/style.scss */
.cover a {
  position: relative;
}

/* line 179, ../../assets/scss/style.scss */
.profile .avatar-icon {
  width: 140px;
  height: 140px;
}

/* line 190, ../../assets/scss/style.scss */
.home .logo svg {
  fill: #333;
}

/* line 196, ../../assets/scss/style.scss */
h1, h2, h3 {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* line 205, ../../assets/scss/style.scss */
h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
}

/* line 210, ../../assets/scss/style.scss */
pre {
  margin-bottom: 1em;
}
/* line 211, ../../assets/scss/style.scss */
pre code {
  font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
  max-width: 960px;
  overflow: auto;
}
/* line 220, ../../assets/scss/style.scss */
pre code.hljs {
  padding: 2em;
}
/* line 223, ../../assets/scss/style.scss */
pre code span {
  font-weight: 400;
}

/* line 230, ../../assets/scss/style.scss */
h2 {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
  padding-top: 31px;
  margin-bottom: 2px;
}

/* line 239, ../../assets/scss/style.scss */
p {
  display: block;
  margin-bottom: 30px;
}

/* line 244, ../../assets/scss/style.scss */
article {
  margin-bottom: 60px;
}

/* line 248, ../../assets/scss/style.scss */
#disqus_thread {
  margin-bottom: 60px;
}

/* line 251, ../../assets/scss/style.scss */
.homeLink {
  font-size: 12px;
  padding-left: 10px;
}

/* line 256, ../../assets/scss/style.scss */
.applicationFooter {
  margin-top: 160px;
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
  background-color: #ddddde;
  color: #777776;
}
/* line 263, ../../assets/scss/style.scss */
.applicationFooter a {
  color: #333332;
}
/* line 266, ../../assets/scss/style.scss */
.applicationFooter .footer-row {
  overflow: hidden;
  max-width: 960px;
  margin: 0px auto;
  position: relative;
}
/* line 271, ../../assets/scss/style.scss */
.applicationFooter .footer-row section {
  position: relative;
  float: left;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  width: 50%;
  height: 100%;
  padding: 3em;
}
/* line 276, ../../assets/scss/style.scss */
.applicationFooter .footer-row section .subtitle {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #999998;
  margin-bottom: .5rem;
}
/* line 288, ../../assets/scss/style.scss */
.applicationFooter .footer-row section.about {
  text-align: right;
}
/* line 291, ../../assets/scss/style.scss */
.applicationFooter .footer-row section.join {
  border-left: solid 1px #bbb;
  float: right;
}
/* line 296, ../../assets/scss/style.scss */
.applicationFooter .footer-row .logo {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: relative;
  margin-bottom: 3em;
}
/* line 302, ../../assets/scss/style.scss */
.applicationFooter .footer-row .logo svg {
  fill: #444443;
}

/* line 309, ../../assets/scss/style.scss */
.socialShare {
  text-align: center;
}
/* line 311, ../../assets/scss/style.scss */
.socialShare h2 {
  font-size: 2em;
}
/* line 314, ../../assets/scss/style.scss */
.socialShare a.button {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 2px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 0.3em;
  border-radius: 0.15em;
  text-decoration: none;
}
/* line 326, ../../assets/scss/style.scss */
.socialShare a.button.twitter {
  background-color: #00aced;
  color: white;
}

/* tablets */
@media screen and (max-width: 1024px) {
  /* line 3, ../../assets/scss/_mediaqueries.scss */
  .layout-single-column {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 7, ../../assets/scss/_mediaqueries.scss */
  .cover {
    height: 300px;
  }
  /* line 10, ../../assets/scss/_mediaqueries.scss */
  .cover header {
    margin-top: 120px;
  }
  /* line 12, ../../assets/scss/_mediaqueries.scss */
  .cover header .post-item-meta {
    margin-bottom: 20px;
  }
  /* line 17, ../../assets/scss/_mediaqueries.scss */
  .cover .post-field.subtitle {
    margin-bottom: 20px;
  }
}
/* phones */
@media screen and (max-width: 600px) {
  /* line 26, ../../assets/scss/_mediaqueries.scss */
  .cover {
    height: 200px;
    margin-bottom: 30px;
  }
  /* line 29, ../../assets/scss/_mediaqueries.scss */
  .cover header {
    margin-top: 20px;
  }
  /* line 33, ../../assets/scss/_mediaqueries.scss */
  .cover .post-field.subtitle {
    margin-bottom: 20px;
    font-size: 24px;
  }
  /* line 38, ../../assets/scss/_mediaqueries.scss */
  .cover .post-title {
    font-size: 40px;
  }

  /* line 45, ../../assets/scss/_mediaqueries.scss */
  .article-list li header h2 {
    padding-top: 0px;
  }

  /* line 54, ../../assets/scss/_mediaqueries.scss */
  .post-item-meta .post-item-meta-item .post-item-author.link.link-secondary:last-child span {
    display: block;
    padding-top: 5px;
    padding-left: 40px;
  }

  /* line 62, ../../assets/scss/_mediaqueries.scss */
  .post-content {
    font-size: 16px;
  }
  /* line 64, ../../assets/scss/_mediaqueries.scss */
  .post-content h2 {
    padding-top: 24px;
    font-size: 24px;
  }
  /* line 68, ../../assets/scss/_mediaqueries.scss */
  .post-content ul {
    padding-left: 1em;
  }
  /* line 72, ../../assets/scss/_mediaqueries.scss */
  .post-content .socialShare h2 {
    font-size: 1.2em;
  }
  /* line 75, ../../assets/scss/_mediaqueries.scss */
  .post-content .socialShare h3 {
    font-size: 0.8em;
  }
  /* line 78, ../../assets/scss/_mediaqueries.scss */
  .post-content .socialShare a.button {
    font-size: 22px;
  }

  /* line 85, ../../assets/scss/_mediaqueries.scss */
  .applicationFooter .footer-row section {
    float: none;
    display: block;
    width: 100%;
    padding: 2em;
  }
  /* line 90, ../../assets/scss/_mediaqueries.scss */
  .applicationFooter .footer-row section.about {
    text-align: center;
  }
  /* line 93, ../../assets/scss/_mediaqueries.scss */
  .applicationFooter .footer-row section.join {
    text-align: center;
    border-left: none;
    border-top: 1px solid #bbb;
  }
  /* line 98, ../../assets/scss/_mediaqueries.scss */
  .applicationFooter .footer-row section .logo {
    margin-bottom: 1em;
  }

  /* line 105, ../../assets/scss/_mediaqueries.scss */
  .profile .avatar-icon {
    width: 70px;
    height: 70px;
  }

  /* line 110, ../../assets/scss/_mediaqueries.scss */
  .dash {
    display: none;
  }

  /* line 114, ../../assets/scss/_mediaqueries.scss */
  pre code {
    font-size: 12px;
  }
  /* line 116, ../../assets/scss/_mediaqueries.scss */
  pre code.hljs {
    padding: 1em;
  }
}
