@import "compass/reset";
@import "compass/css3";
body {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  color: #444443;
  font-size: 18px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overflow-y: scroll;
  overflow-x:hidden;
}
.layout-single-column {
  max-width: 960px;
  margin: 0 auto;
}
.post-article {
  height: 100%;
  .background-size-full {
    max-width: 100%;
    width: 100%;
    margin-top: 0;
    position: relative;
  }
}

.post-content {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
  h2 {
    padding-top: 64px;
  }
  p > code {
    font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eeeeed;
    font-size: 0.8em;
    padding: 2px;
  }
  ul {
    list-style-type:circle;
    padding-left:2em;
    & > li {
      padding-left:0.5em;
      padding-bottom:0.5em;
    }
    margin-bottom: 1em;
  }
  em {
    font-style: italic;
  }
  a {
    color: black;
    text-decoration: underline;
  }
}

.background-size-full {
  height: 100%;
  max-height: 900px;
  background-color: #191918;
  background-position: center;
  width: 100%;
  position:relative;
}

#login-buttons{
  position:fixed;
  z-index: 999;
}

.cover {
  height: 400px;
  margin-bottom: 60px;
  color: white;
  header {
    margin-top:160px;
    .post-item-meta {
      margin-bottom: 20px;
    }
  }
  .post-title {
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.04em;
    font-size: 50px;
    line-height: 1.1;
    margin-bottom: 8px;
  }
  .post-field.subtitle {
    letter-spacing: -0.02em;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 1.1;
    color: #888887;
    margin: 0;
  }
}

.article-list {
  li {
    margin-bottom: 60px;
  }
}
.post-item-meta {
font-size: 14px;
color: #b3b3b1;
}
.post-item-meta-avatar {
display: inline-block;
width: 30px;
height: 30px;
line-height: 30px;
margin-right: 8px;
margin-bottom: -10px;
}

.avatar-icon {
width: 32px;
height: 32px;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
}

.story-cover-content .post-item-meta {
letter-spacing: -0.02em;
font-weight: 400;
font-style: normal;
}

a {
  color: #888887;
  text-decoration: none;
}

.cover-header .post-item-meta {
margin-top: 12px;

}

.logo{
  display:block;
  position:absolute;
  svg {
    display: block;
    width: 100%;
  }
}
.cover {
  overflow: hidden;
  .logo {
    position:absolute;
    top: 0px;
    width:50%;
    height:160%;
    svg {
      fill: #111;
    }
  }
  .cover-content{
    position: relative;
  }
  a {
    position: relative;
  }
}

.profile {
  .avatar-icon{
    width:140px;
    height:140px;
  }
}

.home {
  .logo {

    // -webkit-transform: translateX(-20px);
    // margin: 20px auto;
    svg {
      fill: #333;
    }
  }
}

h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.post-content {
  h1, h2, h3 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  h3 {
    font-size: 1.7rem;
    text-transform: uppercase;
  }
  h4 {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
  }
}

pre {
  code {
    font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 0;
    max-width: 960px;
    overflow: auto;
    &.hljs{
      padding: 2em;
    }
    span {
      font-weight:400;
    }
  }
  margin-bottom: 1em;
}

h2 {
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 1.2;
    padding-top: 31px;
    margin-bottom: 2px;
  }
  p {
    display: block;
    margin-bottom: 30px;
  }

article{
  margin-bottom:60px;
}

#disqus_thread{
  margin-bottom:60px;
}
.homeLink {
  font-size: 12px;
  padding-left: 10px;
}

.applicationFooter {
  margin-top: 160px;
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
  background-color: #ddddde;
  color: #777776;
  a {
    color: #333332;
  }
  .footer-row{
    overflow: hidden;
    max-width: 960px;
    margin: 0px auto;
    position: relative;
    section {
      position: relative;
      float:left;
      display:inline-block;
      @include box-sizing(border-box);
      .subtitle{
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        text-transform: uppercase;
        color: #999998;
        margin-bottom: .5rem;
      }
      vertical-align: top;
      width: 50%;
      height: 100%;
      padding: 3em;
      &.about{
        text-align: right;
      }
      &.join{
        border-left: solid 1px #bbb;
        float:right;
      }
    }
    .logo {
      display: inline-block;
      width:64px;
      height:64px;
      position:relative;
      margin-bottom: 3em;
      svg {
        fill: #444443;
      }
    }
  }
}

.socialShare {
  text-align: center;
  h2 {
    font-size: 2em;
  }
  a.button{
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 2px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    padding: 0.3em;
    border-radius:0.15em;
    text-decoration: none;
    &.twitter{
      background-color: #00aced;
      color: white;
    }
  }
}

@import "_mediaqueries";